language: perl
perl:
  - "5.14" # wheezy, precise

env:
  global:
    - "S3_BUCKET=fixmystreet-bundle-cache"
    - secure: "llgWNfR/8pH0HjYpg+xhVxuqTaLC0GGUugfuINiUap7JxzjCZ2rlryxCXA4BCM8GUHa9wlYKhrKCSx+DM3EHRE0cLei7LNxAK1JSXLj3NihFQhqnq64tjDwGCSA4l7mlqErA7DK4Dpmh+hBp5f680akITAInM92CbwQZxLDYaCU="
    - secure: "qW+WCgAF68itADxcbcq+nCnKx3vf3GX73HMfjfbkFFUsYmIR+ZaJ9yQMnGJwxIpCHTWLAeqyx4KO8N8T3GmNdKYzIMZemOzp4ED29YC31QOQeq1CwNp2hD5sq/o47d2BzXWwMYNvNXfxz1K6r2c6EMPUtu8X3B8ExZq1RzSFdXs="

sudo: false

addons:
    apt:
        packages:
            - gettext
            - language-pack-de
            - language-pack-nb

install:
  - .travis/install
  - 'if [ "$TRAVIS_PERL_VERSION" = "5.14" ]; then cpanm --quiet --notest Devel::Cover::Report::Codecov; fi'
before_script:
  - commonlib/bin/gettext-makemo FixMyStreet
  - 'if [ "$TRAVIS_PERL_VERSION" = "5.14" ]; then export HARNESS_PERL_SWITCHES="-MDevel::Cover=+ignore,local/lib/perl5,commonlib,perllib/Catalyst,perllib/DBIx,perllib/Email,perllib/Template,^t"; fi'
script: "script/test t/app/controller/questionnaire.t"
after_success:
  - .travis/after_script
  - cat /home/travis/build/dracos/fixmystreet/cover_db/runs/*/cover.*
  - 'if [ "$TRAVIS_PERL_VERSION" = "5.14" ]; then cover --report codecov; fi'
